# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Data and Outputs to ignore
examples/noise_math/Output/
examples/noise_math/dataset/Processed/
# DO NOT ignore examples/noise_math/dataset/Ours/ and test_data/ as they are raw datasets

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Ray and other logs
/tmp/ray/
*.log